src/main/mule/semaphore-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="61f0fc8a-191b-4ba1-8599-eb0d6bf0c11a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="semaphore-testFlow" doc:id="bdcd8fa1-7542-4131-ace2-57f0e7b31042" >
		<http:listener doc:name="Listener" doc:id="e94d503b-1b76-487f-9c4a-166f7998c676" config-ref="HTTP_Listener_config" path="/semaphore"/>
		<logger level="INFO" doc:name="Logger" doc:id="82835a1f-a4c1-495d-a604-f22509e3e4ff" message="Started API"/>
		<ee:transform doc:name="Transform Message" doc:id="5b6e2b72-76f0-4daa-8bb9-c5f9b875fc08" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	name: "John Doe",
	role: "Network Admin"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="b738a9e0-5eb7-430d-9b36-732836dcead1" message="#[payload]"/>
	</flow>
</mule>
